@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
--backgroung-gris: #F9F9F9;
--menu-gris: #F0F0F0;
--contour-gris: #D0CECE;
--brique: #AB5D5D;
--font-black: #3B3838;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    color: var(--font-black);
    font-size: calc(15px + 0.390625vw);
}


strong{ 
    color: var(--brique);
    font-weight: 600;
}

em{
    font-weight: 600;
    font-style: normal;
}


/**********************/
/* SECTION NAVIGATION */
/*********************/
nav{
    width: 100%;
    margin: 0 auto;
    background-color: var(--menu-gris);
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: right;
    top: 0px;
    transition: 0,5s;
    z-index: 1;
}

#photo-profile{
    position: relative;
    min-width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    top: 2px;
}

#photo-profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#burger-menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

nav label{
    display: inline-block;
    text-align: right;
    position: relative;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: inherit;
}


nav ul{
    display:none;
    background-color: var(--menu-gris);
    list-style-type: none;
    text-align: inherit;
}


nav input[type=checkbox]{
    display: none;
    transition: 0,5s;
}

.burger{
    padding: 5px;
    color: black;
    display: block;
    position: relative;
    justify-content: right;
    place-self: right;

}


nav input[type=checkbox]:checked + ul {
    display: flex;
    flex-flow: column wrap;
    padding: 5px 15px;
    text-align: right;
    transition: 0,5s;
}

/********************/
/* SECTION ACCUEIL */
/********************/
#accueil{
    margin-top: 36px;
    height: calc(100vh - 36px);
    background-color: var(--backgroung-gris);
    line-height: 1.1rem;
    border-top: #3B3838 solid 1px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
}

#accueil> p,h1{
    padding: 3px 15px;
}


.accueil-bloc1{
    position: relative;
    
}

h1{
    position: relative;
    margin-top: 0px;
    font-weight: 550;
    font-size: 1.6rem;
    animation: showBottomText 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
    opacity: 0;
}


.titre-h2{
    position: relative;
    font-size: 1rem;
    animation: showTopText 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
    opacity: 0;
}

p{
    line-height: 1.2em;
}

#image-cover{
    position: relative;
    width: 100%;
    height: 60%;
    background-image:url("img/JB7A0519_s.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: bottom;
    animation: opacity 0.6s;
}

.bloc{
    display: block;
}

.flex{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
}


.sous-titre{
    display: relative;
    margin-top: 0px;
    animation: opacity 1s ease 1.7s forwards;
    opacity: 0;
    font-size: 1rem;
}

.sous-titre2{
    animation: opacity 1s ease 1.7s forwards;
    opacity: 0;
}

#accueil .boutons{
    justify-content: right;
    display: flex;
    position: relative;
    margin-bottom: 3px;
    opacity: 0;
    animation: opacity 1.2s linear 1.9s forwards;
}


#accueil .bouton a{
    display: flex;
    margin-right: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    width: 100px;
    padding: calc(4px + 0.6vh) 10px; /* 7px c'est pas mal */ 
    border-radius: 10px;
}



#accueil .rouge a{
    color: whitesmoke ;
    background-color: var(--brique);
    border: var(--brique) solid 2px;
}

#accueil .blanc a{
    color: var(--brique) ;
    background-color: inherit;
    border: var(--brique) solid 2px;
}



/********************/
/* SECTION PARCOURS */
/********************/

#parcours{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 38px);
    min-height: 500px;
    background-color: var(--backgroung-gris);
    line-height: 1.5rem;
    border: #3B3838 solid 2px;
}

.repère{
    position: relative;
    top: -36px;
}

.titre{
    position: relative; /* absolute*/
    top:0;
    border: red solid 1px;
    margin: 20px 10px;
    width: 85%;
    display: block;
}

section h2{
    border: red solid 1px;
    color: var(--brique);
    font-weight: 600;
    text-transform: uppercase;
    /*border-bottom:#AB5D5D solid 5px;*/
    padding: 10px;
}

 .decalage{
    width: 100%;
    height: 5px;
    margin-top: -5px;
    position: static;
    background-color: var(--brique);
}

/*.gris{
    background-color: var(--backgroung-gris);
}*/

.main-text{
    position: relative;
    justify-self: space-around;
    margin: 0px 20px;
    flex-basis: 85%;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: calc(0.75rem + 0.7vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: blue solid 1px;
    line-height: calc(0.7rem + 1.3vh);
}

.main-text p{
    display: block;
    flex-grow: 1;
    line-height: calc(0.7rem + 1.3vh);
    position: relative;
    border: red solid 1px;
}



/* SECTION COMPETENCES */
#competences{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 38px);
    min-height: 500px;
    background-color: var(--font-black);
    line-height: 1.5em;
    border: #3B3838 solid;
    z-index: 0;
    box-sizing: border-box;
}

.noir{
    background-color: var(--font-black);
}

.blanc{
    color: #F0F0F0;
}


.bloc-compétence{
    display: flex;
    flex-direction: column;
    border: yellow 1px solid;
    justify-content: space-around;
}

h3{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: orange solid 1px;
    text-align: center;
}


.bloc-compétences{
    display: block;
    width: 100%;
    border: red solid 1px;
}

#competences h4{
    color:var(--brique);
    text-align: center;
    display: block;
    width: 100%;
}



.langues-parlées{
    display: flex;
    flex: row;
    width: 100%;
    justify-content: space-around;
}

.langue{
    text-align: center;
}


.main-text li{
    list-style: none;
}

.bloc-langue{
    display: block;
    width: 100%;
    text-align: center;
}


/********************/
/* SECTION CURSUS */
/********************/

#cursus{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(2*(100vh - 38px));
    background-color: var(--backgroung-gris);
    line-height: 1.5em;
}


#cursus > .main-text{
    justify-content: space-between;
    height: 90%;
    padding-top: 10px;

}

.item-cursus{
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    border: solid 1px rgba(160, 160, 160, 0.568);
    padding: 10px;
    align-items:initial;
    margin-bottom: 20px;
    font-size: smaller;
    line-height: 1.5em;
}

.item-cursus > h4{
    color: #AB5D5D;
}





/* SECTION EXPERIENCE PRO */
#experience-pro{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 38px);
    background-color: var(--font-black);
    line-height: 1.5em;
    border: #3B3838 solid;
    z-index: 0;
}



/*Section animation*/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    50% {opacity: 0.5;}
    100% { transform: translate3d(0, 0, 0); opacity: 1; }
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    50% {opacity: 0.5;}
    100% { transform: translate3d(0, 0, 0); opacity: 1; }
  }

  @keyframes opacity {
    0% { opacity: 0; }
    50% {opacity: 0.3;}
    100% { opacity: 1; }
  }








  /* non utilisées*/
  @keyframes translation {
    0% {
      transform: perspective(100px) translate3d(0px, 0px, -20px);
      opacity: 0.2;
    }
    100%{
        transform: perspective(100px) translate3d(0px, 0px, 0px)  
    }
}

    @keyframes showTopImage {
        0% { transform: translate3d(-15%, 0, 0); opacity: 0; }
        50% {opacity: 0.5;}
        100% { transform: translate3d(0, 0, 0); opacity: 1; }
    }



/*.reveal.rouge{
    position: relative;
    left: 300px;
    transform: translateX(-300px);
    transition: 0.5s linear;
    transition-delay: 2s;
}


.reveal.blanc{
    position: relative;
    transform: translateX(200px);
    transition: 0.5s linear;
}

.reveal.rouge.active{
    transform: translateX(0);
}

.reveal.rouge.active{
    transform: translateX(0);
}
*/




/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 780px) and (max-width: 979px){
    #accueil{
        line-height: 1.5em;
    }
    
    #image-cover{
        background-image:url("img/JB7A0519.jpg");    
    }

    h1{
        font-size: xx-large;
    }

    .sous-titre{
        font-size: larger;
        margin-top: 15px;
    }

    #accueil> p,h1{
        padding: 5px 15px;
    }
}



/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px){
    #image-cover{
        background-image:url("img/JB7A0519_L.jpg");
        height: 65%;
        background-position: center;    
    }
}