@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
--backgroung-gris: #F9F9F9;
--menu-gris: #F0F0F0;
--contour-gris: #D0CECE;
--brique: #AB5D5D;
--font-black: #3B3838;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}

html{
    scroll-behavior: smooth;
    color: var(--font-black);
    font-size: calc(15px + 0.390625vw);
}


strong{ 
    color: var(--brique);
    font-weight: 600;
}

em{
    font-weight: 600;
    font-style: normal;
}


/**********************/
/* SECTION NAVIGATION */
/*********************/
nav{
    width: 100%;
    margin: 0 auto;
    background-color: var(--menu-gris);
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: right;
    top: 0px;
    transition: 0,5s;
    z-index: 1;
    border-bottom: grey solid 1px;
}

#photo-profile{
    position: relative;
    min-width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    top: 2px;
}

#photo-profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#burger-menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

nav label{
    display: inline-block;
    text-align: right;
    position: relative;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: inherit;
}


nav ul{
    display:none;
    background-color: var(--menu-gris);
    list-style-type: none;
    text-align: inherit;
}


nav input[type=checkbox]{
    display: none;
    transition: 0,5s;
}

.burger{
    padding: 5px;
    color: black;
    display: block;
    position: relative;
    justify-content: right;
    place-self: right;

}


nav input[type=checkbox]:checked + ul {
    display: flex;
    flex-flow: column wrap;
    padding: 5px 15px;
    text-align: right;
    transition: 0,5s;
}

/********************/
/* SECTION ACCUEIL */
/********************/
#accueil{
    margin-top: 36px;
    height: calc(100vh - 36px);
    background-color: var(--backgroung-gris);
    line-height: 1.1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
}

#accueil> p,h1{
    padding: 3px 15px;
}


.accueil-bloc1{
    position: relative;
    
}

h1{
    position: relative;
    margin-top: 0px;
    font-weight: 550;
    font-size: 1.6rem;
    animation: showBottomText 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
    opacity: 0;
}


.titre-h2{
    position: relative;
    font-size: 1rem;
    animation: showTopText 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
    opacity: 0;
}

p{
    line-height: 1.2em;
}

#image-cover{
    position: relative;
    width: 100%;
    height: 60%;
    background-image:url("img/JB7A0519_s.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: bottom;
    animation: opacity 0.6s;
}

.bloc{
    display: block;
}

.flex{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
}


.sous-titre{
    display: relative;
    margin-top: 0px;
    animation: opacity 1s ease 1.7s forwards;
    opacity: 0;
    font-size: 1rem;
}

.sous-titre2{
    animation: opacity 1s ease 1.7s forwards;
    opacity: 0;
}

#accueil .boutons{
    justify-content: right;
    display: flex;
    position: relative;
    margin-bottom: 3px;

    
}


#accueil .bouton a{
    display: flex;
    margin-right: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    width: 100px;
    padding: calc(4px + 0.6vh) 10px; /* 7px c'est pas mal */ 
    border-radius: 10px;
    animation: pop 0.5s linear 3.5s forwards;
    opacity: 0;
}



#accueil .rouge a{
    color: whitesmoke ;
    background-color: var(--brique);
    border: var(--brique) solid 2px;
}

#accueil .blanc a{
    color: var(--brique) ;
    background-color: inherit;
    border: var(--brique) solid 2px;
}



/********************/
/* SECTION PARCOURS */
/********************/

#parcours{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 38px);
    min-height: 500px;
    background-color: var(--backgroung-gris);
    line-height: 1.5rem;
}

.repère{
    position: relative;
    top: -36px;
}

.titre{
    position: relative; /* absolute*/
    top:0;
    margin: 20px 10px 15px;
    width: 85%;
    display: block;
}

section h2{
    color: var(--brique);
    font-weight: 600;
    text-transform: uppercase;
    /*border-bottom:#AB5D5D solid 5px;*/
    padding: 10px;
}

 .decalage{
    width: 50%;
    height: 5px;
    margin-top: -5px;
    margin-left: 10px;
    position: static;
    background-color: var(--brique);
}



.main-text{
    position: relative;
    justify-self: space-around;
    margin: 0px 20px 20px 20px;
    flex-basis: 90%;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: calc(0.75rem + 0.7vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: calc(0.7rem + 1.3vh);
}

.main-text p{
    display: block;
    flex-grow: 1;
    line-height: calc(0.7rem + 1.3vh);
    position: relative;
}


/***********************/
/* SECTION COMPETENCES */
/***********************/

#competences{
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: calc(1.3*(100vh - 38px)); */
    min-height: 100vh;
    background-color: var(--font-black);
    border: #3B3838 solid;
    z-index: 0;
    box-sizing: border-box;
}

.noir{
    background-color: var(--font-black);
}

.blanc{
    color: #F0F0F0;
}



.bloc-compétence{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bloc-compétence i{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 5vh;
    height: 5vh;
    border: var(--backgroung-gris) solid 2px;
    color: var(--font-black);
    border-radius: 50%;
    box-shadow: 0 0 26 rgba(0,0,0,0.1);
    background-color: var(--backgroung-gris);
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: 2%;
}



h3{
    display: block;
    width: 100%;
    padding: 0.8rem;
    text-align: center;
}


.bloc-compétences{
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 100%;
    font-size: calc(0.8rem + 20%);
}

.bloc-compétences ul{
    flex-basis: 60%;
}

.bloc-compétences ul li,p{
    list-style:disc;
    list-style-position: inside;
    line-height: calc(0.7rem + 1.3vh);
    font-size: calc(0.8rem + 0.2vh);
}

#competences h4{
    color:var(--brique);
    text-align: left;
    padding-bottom: 0.4rem;
    flex-basis: 40%;
    width: 100%;
    font-size: calc(0.9rem + 0.2vh);
}



.langues-parlées{
    display: flex;
    flex: row;
    width: 100%;
    justify-content: space-around;
}

.langue{
    text-align: center;
}

.langue p{
    padding: 0.3rem;
}

.main-text li{
    list-style: none;
}

.bloc-langue{
    width: 100%;
    text-align: center;
}


/******************/
/* SECTION CURSUS */
/******************/
#cursus{
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: calc(2*(100vh - 38px)); */
    background-image: url("/img/white-paper-texture-background.jpg"); /* Image de Vectonauta sur Freepik" */
    background-size: cover;
    background-position: right;
    line-height: 1.5em;
}


#cursus .gris{
    background-color: #D0CECE;
}


#cursus > .main-text{
    justify-content: space-between;
    height: 90%;
    padding-top: 10px;

}

.item-cursus{
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 17px 20px rgba(0,0,0, 0.55);
    background-color: whitesmoke;
    border: solid 1px rgba(160, 160, 160, 0.568);
    padding: 10px;
    align-items:initial;
    margin: 20px 0;
    font-size: smaller;
    line-height: calc(0.7rem + 1.3vh);
}


#cursus h3{
    font-size: 1rem;
}

.item-cursus > h4{
    color: #AB5D5D;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

#cursus i{
    padding-right: 1rem;
}

.item-cursus p{
    line-height: calc(0.45rem + 1.3vh);
}

/**************************/
/* SECTION EXPERIENCE PRO */
/**************************/
#experience-pro{
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: calc(2*(100vh - 38px)); */
    background-color: var(--font-black);
    line-height: 1.5em;
    border: #3B3838 solid;
}

.item-experience{
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    color: var(--font-black);
    border: solid 1px rgba(160, 160, 160, 0.568);
    padding: 10px;
    margin-bottom: 20px;
    font-size: smaller;
    line-height: 1.5em;
    background-color: whitesmoke;
}

.logo{
    display: flex;
    position: relative;
    align-content: space-between;
    align-items: center;
}

.logo img{
    display: flex;
    justify-content: center;
    max-width: 30%;
    height:30%;
    width: auto;
}

.entreprise{
    font-size: 1rem;
    padding: 0.05rem 0 0.6rem;
    font-weight: 500;
    color: rgb(7, 7, 106);
}

.item-experience li{
    list-style: disc inside;
    line-height: 1rem;
    padding-bottom: 0.4rem;
}

/*****************************/
/********** CONTACT *********/
/****************************/

#contact{
    position: static;
    display: block;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    min-height: 600px;
    height: calc(100vh - 36px);
    background-color: var(--backgroung-gris);
    line-height: 1.5rem;
}

#cursus > .main-text{
    justify-content: space-between;
    height: 90%;
    padding-top: 10px;

}



#contact p{
    padding: 0.5rem;
}

.item-contact{
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    margin: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(15px + 0.390625vw);

}

.background-green{
    background-color: #dff7e9;
    color:#2ECC71;
}

.background-purple{
    background-color: #EFE5F3;
    color:#9B59B6 ;
}

.background-blue{
    background-color:#E0EFF9 ;
    color: #3498DB;
}

#contact i{
    font-size:calc(1.5rem + 1.3vh);
    display: flex;
    padding: 1rem;

}

#contact .item-contact p{
    display: flex;
    flex-grow: 0;
}

.rencontre{
    font-size: 0.9rem;
}


.bold{
    font-weight: bold;
}

.item-contact-petit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.item-contact-petit i{
    cursor: pointer;
    color: rgb(3, 3, 91);
}

.item-contact-petit a{
    text-decoration: none;
}


/*Section animation*/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}


.rotate.active{
    animation: rotation 1s;
}

.appear{
    opacity: 0;
    transition: 1s all ease;
}

.appear.active{
    opacity: 1;
}





@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    50% {opacity: 0.5;}
    100% { transform: translate3d(0, 0, 0); opacity: 1; }
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    50% {opacity: 0.5;}
    100% { transform: translate3d(0, 0, 0); opacity: 1; }
  }

  @keyframes opacity {
    0% { opacity: 0; }
    50% {opacity: 0.3;}
    100% { opacity: 1; }
  }


  @keyframes pop {
    0% { opacity: 0; }
    50% {opacity: 0.5; transform: scale(1.15,1.15);}
    100% { opacity: 1; }
  }


  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }


  /* non utilisées*/
  @keyframes translation {
    0% {
      transform: perspective(100px) translate3d(0px, 0px, -20px);
      opacity: 0.2;
    }
    100%{
        transform: perspective(100px) translate3d(0px, 0px, 0px)  
    }
}

    @keyframes showTopImage {
        0% { transform: translate3d(-15%, 0, 0); opacity: 0; }
        50% {opacity: 0.5;}
        100% { transform: translate3d(0, 0, 0); opacity: 1; }
    }



/*.reveal.rouge{
    position: relative;
    left: 300px;
    transform: translateX(-300px);
    transition: 0.5s linear;
    transition-delay: 2s;
}


.reveal.blanc{
    position: relative;
    transform: translateX(200px);
    transition: 0.5s linear;
}

.reveal.rouge.active{
    transform: translateX(0);
}

.reveal.rouge.active{
    transform: translateX(0);
}
*/




/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 780px) and (max-width: 979px){
    #accueil{
        line-height: 1.5em;
    }
    
    #image-cover{
        background-image:url("img/JB7A0519.jpg");    
    }

    h1{
        font-size: xx-large;
    }

    .sous-titre{
        font-size: larger;
        margin-top: 15px;
    }

    #accueil> p,h1{
        padding: 5px 15px;
    }
}



/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px){
    #image-cover{
        background-image:url("img/JB7A0519_L.jpg");
        height: 65%;
        background-position: center;    
    }
}