@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
--backgroung-gris: #F9F9F9;
--menu-gris: #F0F0F0;
--contour-gris: #D0CECE;
--brique: #AB5D5D;
--font-black: #3B3838;
--vert-eau: #17c5b7;
--cerise: #ea505d;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}

html{
    scroll-behavior: smooth;
    color: var(--font-black);
    font-size: calc(15px + 0.390625vw);
}


strong{ 
    color: var(--brique);
    font-weight: 600;
}

em{
    font-weight: 600;
    font-style: normal;
}

.hide-mobile{
    display: none;
}

.hide-tablette{
    display: none;
}

/**********************/
/* SECTION NAVIGATION */
/*********************/
nav{
    width: 100%;
    margin: 0 auto;
    background-color: var(--menu-gris);
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: right;
    top: 0px;
    transition: 0,5s;
    z-index: 1;
    border-bottom: grey solid 1px;
}

#photo-profile{
    position: relative;
    min-width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    top: 2px;
}

#photo-profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#burger-menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

nav label{
    display: inline-block;
    text-align: right;
    position: relative;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: inherit;
}



nav ul{
    display:none;
    background-color: inherit;
    list-style-type: none;
    text-align: inherit;
}


nav input[type=checkbox]{
    display: none;
    transition: 0,5s;
}

.burger{
    padding: 5px;
    color: black;
    display: block;
    position: relative;
    justify-content: right;
    place-self: right;
}


nav input[type=checkbox]:checked + ul {
    display: flex;
    flex-flow: column wrap;
    padding: 5px 15px;
    text-align: right;
    transition: 0,5s;
}

/********************/
/* SECTION ACCUEIL */
/********************/
#accueil{
    margin-top: 36px;
    height: calc(100vh - 36px);
    background-color: var(--backgroung-gris);
    line-height: 1.1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
}

#accueil> p,h1{
    padding: 3px 15px;
}


.accueil-bloc1{
    position: relative;
    
}

h1{
    position: relative;
    margin-top: 0px;
    font-weight: 550;
    font-size: 1.6rem;
    animation: showBottomText 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
    opacity: 0;
}


.titre-h2{
    position: relative;
    font-size: 1rem;
    animation: showTopText 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
    opacity: 0;
}

p{
    line-height: 1.2em;
}

#image-cover{
    position: relative;
    width: 100%;
    height: 60%;
    background-image:url("img/JB7A0519_s.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: bottom;
    animation: opacity 0.6s;
}

.bloc{
    display: block;
}

.flex{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
}


.sous-titre{
    display: relative;
    margin-top: 0px;
    animation: opacity 1s ease 1.7s forwards;
    opacity: 0;
    font-size: 1rem;
}

.sous-titre2{
    animation: opacity 1s ease 1.7s forwards;
    opacity: 0;
}

#accueil .boutons{
    justify-content: right;
    display: flex;
    position: relative;
    margin-bottom: 3px;   
}


#accueil .bouton a{
    display: flex;
    margin-right: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    width: 100px;
    padding: calc(4px + 0.6vh) 10px; /* 7px c'est pas mal */ 
    border-radius: 10px;
    animation: pop 0.5s linear 3.5s 1 forwards;
    opacity: 0;
}



#accueil .rouge a{
    color: whitesmoke ;
    background-color: var(--brique);
    border: var(--brique) solid 2px;
}

#accueil .blanc a{
    color: var(--brique) ;
    background-color: inherit;
    border: var(--brique) solid 2px;
}



/********************/
/* SECTION PARCOURS */
/********************/

#parcours{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 38px);
    min-height: 500px;
    background-color: var(--backgroung-gris);
    line-height: 1.5rem;
}

.repère{
    position: relative;
    top: -36px;
}

.titre{
    position: relative; /* absolute*/
    top:0;
    margin: 20px 10px 15px;
    align-self: flex-start;
    display: block;
    overflow-x: visible;
}

section h2{
    color: var(--brique);
    font-weight: 600;
    text-transform: uppercase;
    /*border-bottom:#AB5D5D solid 5px;*/
    padding: 10px;
}

 .decalage{
    width: 50%;
    height: 5px;
    margin-top: -5px;
    margin-left: 10px;
    position: static;
    background-color: var(--brique);
}


.main-text{
    position: relative;
    justify-self: space-around;
    margin: 0px 20px 20px 20px;
    flex-basis: 90%;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: calc(0.75rem + 0.7vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: calc(0.7rem + 1.3vh);
}

.main-text p{
    display: block;
    flex-grow: 1;
    line-height: calc(0.7rem + 1.3vh);
    position: relative;
}


/***********************/
/* SECTION COMPETENCES */
/***********************/

#competences{
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: calc(1.3*(100vh - 38px)); */
    min-height: calc(100vh - 38px);
    background-color: var(--font-black);
    z-index: 0;
    box-sizing: border-box;
}


.noir{
    background-color: var(--font-black);
}

.blanc{
    color: #F0F0F0;
}

.encapsule-titre-icone{
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}

.bloc-compétence{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}


.bloc-compétence i{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 5vh;
    height: 5vh;
    border: var(--backgroung-gris) solid 2px;
    color: var(--font-black);
    border-radius: 50%;
    box-shadow: 0 0 26 rgba(0,0,0,0.1);
    background-color: var(--backgroung-gris);
    font-size: 1.4rem;
    padding: 1.5rem;
}



h3{
    display: block;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}


.bloc-compétences{
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 100%;
    font-size: calc(0.8rem + 20%);
}

.bloc-compétences ul{
    flex-basis: 60%;
}

.bloc-compétences ul li,p{
    list-style:disc;
    list-style-position: inside;
    line-height: calc(0.7rem + 1.3vh);
    font-size: calc(0.8rem + 0.2vh);
}

#competences h4{
    color:var(--brique);
    text-align: left;
    padding-bottom: 0.4rem;
    flex-basis: 40%;
    width: 100%;
    font-size: calc(0.9rem + 0.2vh);
}

.environnement-div .list-environnement-travail{
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 0.3rem;
}

.environnement-div .list-environnement-travail h4{
    display: inline;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.list-environnement-travail li{
    list-style: none;
    display: inline;
   
}

.langues-parlées{
    display: flex;
    flex: row;
    width: 100%;
    justify-content: space-around;
}

.langue{
    text-align: center;
}

.langue p{
    padding: 0.3rem;
}

.main-text li{
    list-style: none;
}

.bloc-langue{
    width: 100%;
    text-align: center;
}


/******************/
/* SECTION CURSUS */
/******************/
#cursus{
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: calc(2*(100vh - 38px)); */
    background-image: url("/img/white-paper-texture-background.jpg"); /* Image de Vectonauta sur Freepik" */
    background-size: cover;
    background-position: right;
    line-height: 1.5em;
}


#cursus .gris{
    background-color: #D0CECE;
}


#cursus > .main-text{
    justify-content: space-between;
    height: 90%;
    padding-top: 10px;

}

.item-cursus{
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 17px 20px rgba(0,0,0, 0.55);
    background-color: whitesmoke;
    border: solid 1px rgba(160, 160, 160, 0.568);
    padding: 10px;
    align-items:initial;
    margin: 20px 0;
    font-size: smaller;
    line-height: calc(0.7rem + 1.3vh);
}


#cursus h3{
    font-size: 1rem;
}

.item-cursus > h4{
    color: #AB5D5D;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

#cursus i{
    padding-right: 1rem;
}

.item-cursus p{
    line-height: calc(0.45rem + 1.3vh);
}

/**************************/
/* SECTION EXPERIENCE PRO */
/**************************/
#experience-pro{
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: calc(2*(100vh - 38px)); */
    background-color: var(--font-black);
    line-height: 1.5em;
}

.item-experience{
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    color: var(--font-black);
    border: solid 1px rgba(160, 160, 160, 0.568);
    padding: 10px;
    margin-bottom: 20px;
    font-size: smaller;
    line-height: 1.5em;
    background-color: whitesmoke;
}

.logo{
    display: flex;
    position: relative;
    align-content: space-between;
    align-items: center;
}

.logo img{
    display: flex;
    justify-content: center;
    max-width: 30%;
    height:30%;
    width: auto;
}

.entreprise{
    font-size: 1rem;
    padding: 0.05rem 0 0.6rem;
    font-weight: 500;
    color: rgb(7, 7, 106);
}

.item-experience li{
    list-style: disc inside;
    line-height: 1rem;
    padding-bottom: 0.4rem;
}

/*****************************/
/********** CONTACT *********/
/****************************/
#contact{
    position: relative;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 36px);
    height: calc(100vh - 36px);
    background-color: var(--backgroung-gris);
    line-height: 1.5rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

#contact .titre{
    margin: 20px 20px 15px;
    position: relative;
}

#contact > .main-text{
    display: flex;
    align-self: center;
    width: 75%;
    flex-shrink: 1;
    justify-content: space-between;
    /* padding-top: 10px; */
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: inherit;
}

#contact .main-text p{
    padding: 0.3rem;
    flex-grow: 0;
}

.item-contact{
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    font-size: calc(15px + 0.390625vw);

}

.background-green{
    background-color: #dff7e9;
    color:#2ECC71;
}

.background-purple{
    background-color: #EFE5F3;
    color:#9B59B6 ;
}

#contact i{
    font-size:calc(1.5rem + 1.3vh);
    display: flex;
    padding: 0.5rem;

}

#contact .item-contact p{
    display: flex;
    flex-grow: 0;
}

.rencontre{
    font-size: 0.9rem;
}


.bold{
    font-weight: bold;
}

.item-contact-petit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.item-contact-petit i{
    cursor: pointer;
    color: rgb(70, 70, 70);
}

.item-contact-petit a{
    text-decoration: none;
}


/*Section animation*/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}


.rotate.active{
    animation: rotation 1s;
}

.appear{
    opacity: 0;
    transition: 1.5s all ease;
}

.appear.active{
    opacity: 1;
}


.reveal-left{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: 1s ease;
}
  
.reveal-left.active{
    transform: translateX(0);
    opacity: 1;
}

.reveal-right{
    position: relative;
    transform: translateX(-100px);
    opacity: 0;
    transition: 1s ease;
}
  
.reveal-right.active{
    transform: translateX(0);
    opacity: 1;
}




@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    50% {opacity: 0.5;}
    100% { transform: translate3d(0, 0, 0); opacity: 1; }
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    50% {opacity: 0.5;}
    100% { transform: translate3d(0, 0, 0); opacity: 1; }
  }

  @keyframes opacity {
    0% { opacity: 0; }
    50% {opacity: 0.3;}
    100% { opacity: 1; }
  }


  @keyframes pop {
    0% { opacity: 0; }
    50% {opacity: 0.5; transform: scale(1.15,1.15);}
    100% { opacity: 1; }
  }


  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }


  @keyframes open{
    from { width: 0%; }
    to{ width: 320px; color: whitesmoke; }
  }

  @keyframes open-sous-titre1{
    from{ width: 0%;}
    to{ width: 168px; /*168*/}
  }

  @keyframes open-sous-titre2{
    from{ width: 0; }
    to{ width: 129px; }
  }


  @keyframes bounce{
    0% { transform: scale(1,1); }
    50% { transform : scale(1.1,1.1);}
    100% { transform: scale(1,1);}
  }



  /* non utilisées*/
  @keyframes translation {
    0% {
      transform: perspective(100px) translate3d(0px, 0px, -20px);
      opacity: 0.2;
    }
    100%{
        transform: perspective(100px) translate3d(0px, 0px, 0px)  
    }
}

    @keyframes showTopImage {
        0% { transform: translate3d(-15%, 0, 0); opacity: 0; }
        50% {opacity: 0.5;}
        100% { transform: translate3d(0, 0, 0); opacity: 1; }
    }




/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 650px) and (max-width: 979px){
    
    /****** SECTION NAVIGATION ******/
    nav{
        height: 36px;
        align-items: center;
    }

    #photo-profile{
        display: none;
    }

    #burger-menu{
        font-size: 0.88rem;
        padding-right: 0.5rem;
    }
    
    nav label{
        display: none;
    }
    
    nav a {
        padding: .4em .7em;
    }

    nav ul{
        display:flex;
    }
    
    .burger{
        display: none;
    }
    
    .element-menu{
        position: relative;
    }

    nav ul li a::before,
    nav ul li a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    }

    nav ul li a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ab5d5da7;
    border-right: 3px solid var(--brique);
    transform: translate(-100%, 50%);
    }

    nav ul li a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #ab5d5da7;
    border-left: 3px solid var(--brique);
    transform: translate(100%, -50%)
    }

    nav ul li a:hover:before,
    nav ul li a:hover:after{
    transform: translate(0,0);
    opacity: 1;
    }

    nav a:hover {
    color: var(--brique);
    }


    /****** SECTION ACCUEIL ******/
    #accueil{
        line-height: 1.5em;
        justify-content:space-around;
    }
    
    #image-cover{
        background-image:url("img/JB7A0519_L.jpg");
    }

    h1{
        font-size: 2rem;
    }

    .titre-h2{
        font-size: 1.2rem;
    }
    
    p{
        line-height: 1.2em;
        font-size: 1rem;
    }

    .sous-titre{
        font-size: 1.2rem;
        margin-top: 2px;
        line-height: 1.5rem;
    }

    #accueil .boutons{
        margin-bottom: 4.2vh;
        margin-top: 1.7vh;   
    }

    #accueil> p,h1{
        padding: 5px 20px;
    }

    #accueil .bouton a:hover{
        transition: 1s ease;
        transform: scale(1.1,1.1);
        box-shadow: 0 30px 40px rgba(0,0,0,0.3); 
    }
    

    /****** SECTION PARCOURS ******/
    .titre{
        margin: 20px 20px 15px;
    }

    .main-text{
        margin: 20px 60px 40px;
        flex-basis: 80%;
        flex-grow: 1;
    }
    
    #parcours .main-text p{
        margin-top: 10px;
        padding: 0 20px;
        display: block;
        font-size: 0.9rem;
    }

    .hide-tablette{
        display : inline-block;
        float: right;
        font-size: 2.5rem;
        color: var(--backgroung-gris);
        margin: 5px 0 10px 40px;
        padding: 1rem;
        border-radius: 50%;
    }

    .bckg-grey{
        background-color: rgb(81, 81, 81);
    }

    .bckg-brique{
        background-color: var(--brique)
    }


    /****** SECTION COMPETENCES ******/
    #competences{
        min-height: calc(100vh - 30px);
    }

    .encapsule-titre-icone{
        display: flex;
        justify-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .bloc-compétence{
        flex-basis: 75%;
    }

    .bloc-compétence i{
        padding-left: 1.5rem;
        float: left;
    }

    .fa-code{
        margin-bottom: 0.7rem;
    }

    h3{
        padding: 0.9rem 0.2rem;
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    
    #competences .environnement-div{
        padding: 0;
    }

    .bloc-compétences ul{
        flex-basis: 70%;
    }
    
    .bloc-compétences p{
        line-height: calc(0.7rem + 1.3vh);
        font-size: calc(0.8rem + 0.2vh);
    }

    #competences h4{
        flex-basis: 30%;
    }
    
    .bloc-langue{
        flex-direction: row;
    }



    /****** SECTION CURSUS ******/
    #cursus > .main-text{
        align-items: flex-start;
    }

    .item-cursus{
        width: 70%;
        margin: 20px 30px;
        transition: border-top-left-radius,border-bottom-left-radius, border-left, box-shadow 0.2s; 
        transition: transform 1s, position 1s, opacity 1s;
    }
       
    /* The actual timeline (the vertical ruler) */
    #cursus .main-text::before {
        content: '';
        position: absolute;
        width: 7px;
        background-color: var(--font-black);
        top: 0;
        bottom: 0;
        left: 75vw;
        margin: 0;
        padding: 0;
    }

    .item-cursus:before{
        content:'';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--backgroung-gris);
        border: var(--font-black) 8px solid;
        top: 40%;
        left: calc(75vw - 41px);
        margin: 0;
        padding: 0;
        transition: none;
    }

    .item-cursus:hover{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: 0.2s linear;
        border-left: 8px solid rgb(23, 197, 183);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .item-cursus:hover h3{
        color:rgb(23, 197, 183);
        transition: 0.2s;
    }

    .item-cursus:hover::before{
        left: calc(75vw - 48px); 
        transform: scale(1.3,1.3);
        transition: 0.28s;       
    }

    /****** SECTION EXPERIENCE ******/
    #experience-pro{
        align-items: center;
    }

    #experience-pro > .main-text{
        width: 62%;
    }

    .item-experience{
        width: 100%;
        margin-bottom: 40px;
        transition: filter 0.3s, opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    }
    
    #experience-pro h3{
        margin: 0;
    }
    
    #experience-pro .main-text:hover .item-experience{
        filter:blur(3px);
        opacity:.5;
        transform: scale(.98);
        box-shadow:none;
    }

    #experience-pro .main-text:hover .item-experience:hover{
        transform:scale(1.1);
        filter:blur(0px);
        opacity:1;
        box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
    }

    /****** SECTION CONTACT ******/                    
    .item-contact-petit .fa-linkedin:hover{
        color: #0A66C2;
    }

    .item-contact-petit .fa-github:hover{
        color: #161B22;
    }
}








/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px){

    /****** SECTION NAVIGATION ******/
    nav{
        height: 36px;
        align-items: center;
    }

    #photo-profile{
        display: none;
    }

    #burger-menu{
        font-size: 0.88rem;
        padding-right: 0.5rem;
    }
    
    nav label{
        display: none;
    }
    
    nav a {
        padding: .4em .7em;
    }

    nav ul{
        display:flex;
    }
    
    .burger{
        display: none;
    }
    
    .element-menu{
        position: relative;
    }

    nav ul li a::before,
    nav ul li a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    }

    nav ul li a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ab5d5da7;
    border-right: 3px solid var(--brique);
    transform: translate(-100%, 50%);
    }

    nav ul li a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #ab5d5da7;
    border-left: 3px solid var(--brique);
    transform: translate(100%, -50%)
    }

    nav ul li a:hover:before,
    nav ul li a:hover:after{
    transform: translate(0,0);
    opacity: 1;
    }

    nav a:hover {
    color: var(--brique);
    }


    /****** SECTION ACCUEIL ******/
    #accueil{
        line-height: 1.2rem;
        justify-content:space-around;
    }
    
    .hide-PC{
        display: none;
    }

    .hide-mobile{
        display: block;
        width: 100%;
        justify-content: center;

    }

   #image-cover{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        background-image:url("img/JB7A0519_L+.jpg");
        align-self: center;
        align-items: center;
        width: 100%;
        height: 80%;
        background-position: center;
        line-height: 1.2rem;
    }

    
    h1{
        font-size: 1.9rem;
        margin-top: 10px;
        position: relative;
        white-space: nowrap;
        line-height: 1.5;
        width: 100%;
        margin-left: 31%;
    }


      .background-color-animation{
        display: inline-block;
        margin-left: 10px;
        position: absolute;
        padding-left: 0.5rem;
        color: var(--menu-gris);
        background-color: #ea505d;
        width: 0;
        color: var(--font-black);
        animation: open 0.9s ease 2.5s forwards;
    }


    .titre-h2-PC{
        font-size: 1.1rem;
        margin-left: 33%;
        position: relative;
        white-space: nowrap;
        display: inline-block;
        width: 100%;
        padding-top: 0.05rem;
        animation: showTopText 0.5s;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
        top: 0;
        transform: translate(0, 100%);
        opacity: 0;
        
    }
    
    .background-grey-animation1{
        display: inline-block;
        position: absolute;
        background-color: var(--brique);
        padding: 0.07rem 0;
        width: 0;
        /* animation: open-sous-titre1 0.9s ease 2.5s forwards; */
    }

    .background-grey-animation1 strong{
        color: whitesmoke;
        
    }

    .background-grey-animation2{
        display: inline-block;
        position: absolute;
        background-color: #F0F0F2;
        padding: 0.07rem 0;
        width: 0;
        line-height: 1.2;
        /* animation: open-sous-titre2 0.9s ease 2.5s forwards; */
    }


    .titre-h2-PC span{
        margin-left: 170px;
        margin-right: 10px;
        margin-top: 0.2rem;
        font-size: 1.1rem;
        font-weight: 300;
        position: relative;
        top: 2px;
    }

    p{
        line-height: 1rem;
        font-size: 1rem;
        text-align: center;
    }

    .sous-titre{
        font-size: 1.2rem;
        margin-top: 1px;
        line-height: 1.5rem;
        text-align: center;
    }

    #accueil .boutons{
        margin-bottom: 4.2vh;
        margin-top: 1.7vh;  
        padding: 10px 6rem; 
        justify-content: center;
    }


    #accueil .bouton a{
        display: flex;
        margin-right: 0.8rem;
        text-transform: uppercase;
        text-decoration: none;
        justify-content: center;
        text-align: center;
        width: 130px;
        padding: calc(4px + 0.6vh) 20px; 
        border-radius: 10px;
        animation: pop 0.5s linear 3.5s 1 forwards;
        opacity: 0;
    }


    #accueil> p {
        padding: 15px 6rem 5px 6rem;
    }

    #accueil .bouton a:hover{
        transition: 1s ease;
        transform: scale(1.1,1.1);
        box-shadow: 0 30px 40px rgba(0,0,0,0.3); 
    }
    
    /****** SECTION PARCOURS ******/
    .titre{
        margin: 20px 19% 15px;
    }

    section h2{
        color: var(--brique);
        font-weight: 600;
        font-size: 1.8rem;
        text-transform: uppercase;
        /*border-bottom:#AB5D5D solid 5px;*/
        padding: 10px;
    }

    .decalage{
        width: 75%;
        height: 5px;
        margin-top: 0px;
        margin-left: 10px;
        position: static;
        background-color: var(--brique);
    }

    .main-text{
        width: 60%;
        margin: 30px 0;
        align-self: center;
        flex-grow: 1;
    }
    
    #parcours .main-text p{
        margin-top: 10px;
        padding: 0 20px;
        display: block;
        font-size: 0.9rem;
    }

    #parcours .hide-tablette{
        display : inline-block;
        float: right;
        font-size: 2.5rem;
        color: var(--backgroung-gris);
        margin: 5px 0 10px 40px;
        padding: 1rem;
        border-radius: 50%;
    }

    .bckg-grey{
        background-color: rgb(81, 81, 81);
    }

    .bckg-brique{
        background-color: var(--brique)
    }


    /****** SECTION COMPETENCES ******/
    #competences{
        height: 100vh;
        position: relative;
    }

    #competences .main-text{
        flex-direction: column;
        flex-wrap: wrap;
        /* flex: 1 1 400px; */
        margin: 20px 20px 40px;
        height: 80%;
        align-content: space-around;
        align-items: center;
        justify-content: flex-start;
    }

    .encapsule-titre-icone{
        display: flex;
        justify-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .bloc-compétence{
        margin-bottom: 50px;
        margin-top: 50px;
        width: auto;
    }

    .bloc-compétence i{
        padding-left: 1.5rem;
        float: left;
    }

    .bloc-compétence p{
        text-align: left;
    }

    .main-text .bloc-langage{
        flex-basis: 70%;
        height: 80vh;
        margin-bottom: 100px;
    }

    #bloc-environnement{
        flex-basis: 20%;
    }

    #bloc-langue{
        flex-basis: 20%;
    }

    .fa-code{
        margin-bottom: 0rem;
    }

    h3{
        padding: 0.9rem 0.2rem;
        width: 100%;
        justify-content: center;
        margin: 0;
        line-height: 1.5rem;
        font-size: 1.2rem;
    }
    
    #competences .environnement-div{
        padding: 0;
    }

    .bloc-compétences ul{
        flex-basis: 70%;
    }
    
    .bloc-compétences p{
        line-height: calc(0.7rem + 1.3vh);
        font-size: calc(0.8rem + 0.2vh);
    }

    #competences h4{
        flex-basis: 30%;
        padding: 0 0.6rem;
    }
    
    .bloc-langue{
        flex-direction: column;
    }

    .langues-parlées p{
        padding: 0 0.6rem;
        text-align: center;
    }

    /****** SECTION CURSUS ******/
    #cursus > .main-text{
        align-items: flex-start;
        width: 85%;
    }

    .item-cursus{
        width: 40%;
        max-width: 600px;
        margin: 20px 40px;
        transition: border-top-left-radius 0.2s,border-bottom-left-radius 0.2s, border-left 0.2s, box-shadow 0.2s; 
        transition: transform 2s, position 1s, opacity 1s;
    }
       
    /* The actual timeline (the vertical ruler) */
    #cursus .main-text::before {
        content: '';
        position: absolute;
        width: 7px;
        background-color: var(--font-black);
        top: 0;
        bottom: 0;
        left: 50%;
        /* left: 40vw; */
        margin: 0;
        padding: 0;
    }

    .item-cursus:nth-child(even){
        left:51%;
    }

    .item-cursus:nth-child(even):before{
        content:'';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--backgroung-gris);
        border: var(--font-black) 8px solid;
        top: 40%;
        margin: 0;
        padding: 0;
        left: calc(-1.5vw - 46px);
    }

    .item-cursus:nth-child(odd):before{
        content:'';
        position: absolute;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background-color: var(--backgroung-gris);
        border: var(--font-black) 8px solid;
        top: 40%;
        margin: 0;
        padding: 0;
        left: calc(41.8vw - 46px);
    }

    .item-cursus:hover{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: 0.1s linear;
        border-left: 8px solid rgb(23, 197, 183);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .item-cursus:hover h3{
        color:rgb(23, 197, 183);
        transition: 0.2s;
    }

    .item-cursus:nth-child(odd):hover::before{
        left: calc(41.5vw - 46px); 
        transform: scale(1.4,1.4);     
    }

    .item-cursus:nth-child(even):hover::before{
        left: calc(-1.8vw - 46px); 
        transform: scale(1.4,1.4);     
    }


    #cursus h3{
        font-size: 1.1rem;
    }
    
    .item-cursus > h4{
        color: #AB5D5D;
        font-size: 1.05rem;
        padding-bottom: 0.5rem;
    }
    
    #cursus i{
        padding-right: 1rem;
    }
    
    .item-cursus p{
        line-height: calc(0.45rem + 1.3vh);
        font-size: 0.8rem;
        text-align: left;
    }

    .item-cursus p:first-of-type{
        font-size: 1rem;
        padding-bottom: 0.7rem;
    }




    /****** SECTION EXPERIENCE ******/
    #experience-pro{
        align-items: center;
    }

    #experience-pro > .main-text{
        width: 85%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item-experience{
        width: 45%;
        height: 40vh;
        margin: 50px 0;
        padding: 10px 30px;
        transition: filter 0.3s, opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    }
    
    #experience-pro h3{
        margin: 0;
    }
    

    .blurred{
        filter:blur(3px);
        opacity:.5;
        transform: scale(.98);
        box-shadow:none;
    }

    #experience-pro .main-text .item-experience:hover{
        transform:scale(1.1);
        filter:blur(0px);
        opacity:1;
        box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
    } 

    .entreprise{
        font-size: 1rem;
        padding: 0.05rem 0 0.6rem;
        font-weight: 500;
        color: rgb(7, 7, 106);
        text-align: left;
        font-weight: bold;
    }
    
    .item-experience li{
        list-style: disc inside;
        line-height: 1rem;
        padding-bottom: 0.4rem;
        font-size: 0.8rem;
    }

    .item-experience p:first-of-type{
        text-align: left;
        padding-bottom: 0.5rem;
    }


    /****** SECTION CONTACT ******/                       
    #contact .titre{
        margin: 20px 10% 15px;
        position: relative;
    }
    
    #contact .main-text {
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: center;
    }

    #contact .main-text p{
        width: 100%;
        justify-content: center;
    }

    .item-contact{
        width: 40%;
        margin:0 20px 15px 20px;
    }

    .rencontre{
        width: 80%;
    }

    .item-contact-petit{
        width: 80%;
    }

    .item-contact-petit .fa-linkedin:hover{
        color: #0A66C2;
    }

    .item-contact-petit .fa-github:hover{
        color: #161B22;
    }




}
